.banner {
    padding: 0 0 1200px 0;
    position: relative;
    &__center {
        text-align: left;
        max-width: 1000px;
        margin: 198px auto 35px;
    }
    &__title {
        font-size: 4.5rem;
        font-family: 'Playfair Display';
        margin-bottom: 25px;
    }
    &__text {
        margin-bottom: 32px;
    }
    &__scroll {
        display: flex;
        .arrow {
            &::after {
                content: "";
                display: block;
                background-image: url(../icons/arrow.svg);
                background-repeat: no-repeat;
                margin-left: 12px;
                width: 22px;
                height: 25px;
            }
        }
    }
}