.right-block {
    display: flex;
    flex-direction: row;
    &__column {
        display: flex;
        flex-direction: column;
        &:first-child {
            margin-right: 212px;
        }
    }
    &__title {
        font-size: 1.2rem;
        color: var(--color1);
    }
    &__link {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 1430px) {
    .right-block {
        &__column {
            &:first-child {
                margin-right: 100px;
            }
        }
    }
}