.social {
    position: absolute;
    transform: rotate(90deg);
    display: flex;
    align-items: center;
    margin-top: 170px;
    &__follow {
        margin: 0 24px 0 0;
    }
    &__link {
        transform: rotate(-90deg);
    }
    .instagram {
        margin-right: 24px;
        &::after {
            content: "";
            display: block;
            background-image: url(../icons/instagram.svg);
            width: 22px;
            height: 22px;
            background-repeat: no-repeat;
        }
    }
    .twitter {
        &::after {
            content: "";
            display: block;
            background-image: url(../icons/twitter.svg);
            width: 22px;
            height: 22px;
            background-repeat: no-repeat;
        }
    }
}